<html lang="en">
    <head>
        <title>LogIn</title>
        <link rel="stylesheet" href="../css/logInStyle.css" />
        <body style="width: 100%;">
                <div id ="formbox" class="form-box">
                    <div class="button-box">
                        <div id="btn"></div>
                        <button type="button" class="toggle-btn" onclick="login()">Log In</button>
                        <button type="button" class="toggle-btn" onclick="register()">Registration</button>
                    </div>
                    <form id="login" class="input-group">
                        <input class="input-field" type="text" id="username" name="username" placeholder="Benutzername">
                        <input class="input-field" type="password" id="pwd" name="pwd" placeholder="Passwort">  
                        <input type="submit" id="bAnmelden" class="submit" value="Anmelden">
                    </form>
                    <form id="register" class="input-group">
                        <input class="input-field" type="text" id="vorname" name="vorname" placeholder="Vorname">
                        <input class="input-field" type="text" id="nachname" name="nachname" placeholder="Nachname">
                        <input class="input-field" type="text" id="username" name="username" placeholder="Benutzername">
                        <input class="input-field" type="password" id="pwd" name="pwd" placeholder="Passwort">
                        <input class="input-field" type="text" id="tel" name="tel" placeholder="Telefonnummer">
                        <input class="input-field" type="email" id="email" name="email" placeholder="E-Mail">
                        <input type="submit" id="bRegistrieren" class="submit" value="Registrieren">
                    </form>
                </div>
            <script src="LoginScript.js"></script>
        </body>
    </head>
</html>
