<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/logoutStyle.css" />
    <title>Logout</title>
</head>
<body style="width: 100%;">
    <div class = "Flexbox">
        <div class = "Seiteninhalt">
            <p>Sie wurden erfolgreich abgemeldet!</p>
        </br>
            <a href="logInIndex.html">Erneut anmelden?</a>
        </div>
    </div>
    <script src="../js/logoutScript.js"></script>
</body>
</html>