<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/MAStyle.css" />
    <title>CarLos Meine Angebote</title>
</head>
<body>
    <div class= "Flexbox">
        <div class="Navigationsleiste">
            <iframe scrolling="no" src="NLIndex.html"></iframe>
        </div>
        
        <div class="Seiteninhalt">
            <p id = "Überschrift">Meine Angebote 
            
                <button type="button" class="btn btn-sm btn-default" id="PlusButton">
                                <span class="glyphicon glyphicon-plus"
                                      aria-hidden="true"></span>
                </button>
                
            </p>
            <ul id="Angebotsliste1"></ul>
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                  <div class="modal-header">
                    <span class="close">&times;</span>
                    <h3>Neues Angebot anlegen</h3>
                  </div>
                  <div class="modal-body">
                    <div>
                        <form id="aerstellen">
                          <label for="preis">Preis</label>
                          <input type="text" id="preis" name="preis" placeholder="Preis">
                      
                          <label for="kilometer">Kilometer</label>
                          <input type="text" id="kilometer" name="kilometer" placeholder="Kilometer">
                      
                          <label for="ort">Ort</label>
                          <input type="text" id="ort" name="ort" placeholder="Ort">

                          <label for="erstz">Erstzulassung</label>
                          <input type="text" id="erstz" name="erstz" placeholder="Erstzulassung">
                      
                          <label for="bild">Bild</label>
                          <input type="text" id="bild" name="bild" placeholder="Bild">
                      
                          <label for="bes">Beschreibung</label>
                          <textarea id="bes" name="bes" placeholder="Beschreibung" style="height:200px"></textarea>

                          <label for="autor">Autor</label>
                          <input type="text" id="autor" name="autor" placeholder="Autor">
                      
                          <label for="marke">Marke</label>
                          <input type="text" id="marke" name="marke" placeholder="Marke">
                      
                          <label for="modell">Modell</label>
                          <input type="text" id="modell" name="modell" placeholder="Modell">
                        
                                       
                  </div>
                  <div class="modal-footer">
                    
                    <button type="button" class="cancelbtn" id="abbrechnen">Abbrechen</button>
                    <input type="submit" id="submit" class="savebtn" value="Speichern">
                  </form>
                  </div>
                </div>
              
              </div>
        </div>
      </div>
       
        
      <div id="modalEdit" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <h3>Angebot bearbeiten</h3>
          </div>
          <div class="modal-body">
            <div>
                <form id="pm">
                  <label for="preis">Preis</label>
                  <input type="text" id="p" name="p" value="">
                </form>
                <form id="km">
                  <label for="kilometer">Kilometer</label>
                  <input type="text" id="k" name="k" value="">
                </form>
                <form id="om">
                  <label for="ort">Ort</label>
                  <input type="text" id="o" name="o" value="">
                </form>
                <form id="em"></form>
                  <label for="erstz">Erstzulassung</label>
                  <input type="text" id="e" name="e" value="">
                </form>
                <form id="bm">
                  <label for="bild">Bild</label>
                  <input type="text" id="b" name="b" value="">
                </form>
                <form id="besm">
                  <label for="bes">Beschreibung</label>
                  <textarea id="bess" name="bes" value="" style="height:200px"></textarea>
                </form>
                <form id="am">
                  <label for="autor">Autor</label>
                  <input type="text" id="a" name="a" value="">
                </form>
                <form id="mm"></form>
                  <label for="marke">Marke</label>
                  <input type="text" id="m" name="m" value="">
                </form>
                <form id="mom">
                  <label for="modell">Modell</label>
                  <input type="text" id="mo" name="mo" value="">
                </form>             
          </div>
        </div>
      
        <script src="MAScript.js"></script>
        
       
    
</body>
</html>