<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/MAStyle.css" />
    <title>cursive;"CarLos Meine Angebote</title>
</head>
<body>
    <div class= "Flexbox">
        <div class="Navigationsleiste">
            <iframe scrolling="no" src="NLIndex.html"></iframe>
        </div>
        
        <div class="Seiteninhalt">
            <p id = "Überschrift">Meine Angebote 
            
                <button type="button" class="btn btn-sm btn-default" id="PlusButton">
                                <span class="glyphicon glyphicon-plus"
                                      aria-hidden="true"></span>
                </button>
                
            </p>
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                  <div class="modal-header">
                    <span class="close">&times;</span>
                    <h3>Neues Angebot anlegen</h3>
                  </div>
                  <div class="modal-body">
                    <table style="border-spacing: 20px;">
                        <tr>
                            <td>
                                <label for="preis" style="font-size: 17px;">Preis</label>
                            </td>
                            <td>
                                <input type="text" id="preis" name="preis">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="kilometer" style="font-size: 17px;">Kilometer</label>
                            </td>
                            <td>
                                <input type="text" id="kilometer" name="kilometer">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="ort" style="font-size: 17px;">Ort</label>
                            </td>  
                            <td>
                                <input type="text" id="ort" name="ort">
                            </td>      
                        </tr>
                        <tr>
                            <td>
                                <label for="erstzulassung" style="font-size: 17px;">Erstzulassung</label>
                            </td>
                            <td>
                                <input type="text" id="erstzulassung" name="erstzulassung">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="bild" style="font-size: 17px;">Bild</label>
                            </td>
                            <td>
                                <input type="text" id="bild" name="bild">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="beschreibung" style="font-size: 17px;">Beschreibung</label>
                            </td>
                            <td>
                                <input type="text" id="beschreibung" name="beschreibung">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="autor" style="font-size: 17px;">Autor</label>
                            </td>
                            <td>
                                <input type="text" id="autor" name="autor">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="marke" style="font-size: 17px;">Marke</label>
                            </td>
                            <td>
                                <input type="text" id="marke" name="marke">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="modell" style="font-size: 17px;">Modell</label>
                            </td>
                            <td>
                                <input type="text" id="modell" name="modell">
                            </td>
                        </tr>
                    </table> 
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="cancelbtn">Abbrechen</button>
                    <button type="button" class="savebtn">Speichern</button>
                  </div>
                </div>
              
              </div>
        </div>
        <script src="MAScript.js"></script>
</body>
</html>