<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../css/NLStyle.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body {margin: 0;}
</style>
</head>
<body>
  
<ul class="sidenav">
  <li><a href= "Startseiteindex.html" target="_parent">Startseite</a></li>
  <li><a href="MAIndex.html" target="_parent">Meine Angebote</a></li>
  <li><a href="ProfilIndex.html" target="_parent"><i class="glyphicon glyphicon-user" style="font-size: 16px; margin-right: 4px;"></i>Profil</a></li>
  <li><a href="#Logout" target="_parent">Logout</a></li>
  
</ul>
</body>
</html>