<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/ProfilStyle.css" />
    <title>CarLos Profil</title>
</head>
<body>
    <div class= "Flexbox">
        <div class="Navigationsleiste">
            <iframe scrolling="no" src="NLIndex.html"></iframe>
        </div>
        
        <div class= "Seiteninhalt">
            <div id= "Profilbild"> 
                <img id="Profilbild" src="Deafult-Profile-Pitcher.png">
            </div>
            
            <div id= "Daten"> 
                <table>
                    <tbody>
                        <tr>
                            <form id="v">
                                <td>
                                    <label for="Vorname">Vorname: </label>
                                </td>
                                <td>
                                    <input type="text" name= "Vorname" id="Vorname" class = "inputs" value="" readonly>
                                </td>
                                <td>
                                    <button type="submit" id="vnameb"><i class="glyphicon glyphicon-pencil" style="font-size: 20px;"></i></button>
                                </td>
                             </form>  
                        </tr>
                        <tr>
                            <form id="n"> 
                                <td>
                                    <label for="Nachname">Nachname: </label>
                                </td>
                                <td>
                                    <input type="text" name= "Nachname" id="Nachname" class = "inputs" value="" readonly>
                                </td>
                                <td>
                                    <button type="submit" id="nnameb"><i class="glyphicon glyphicon-pencil" style="font-size: 20px;"></i></button>
                                </td>
                            </form>
                        </tr>
                        <tr>
                            <form id="t">
                                <td>
                                    <label for="Telefon">Telefon: </label>
                                </td>
                                <td>
                                    <input type="tel" name= "Telefon" id="Telefon" class = "inputs" value="" readonly>
                                </td>
                                <td>
                                    <button type="submit" id="telb"><i class="glyphicon glyphicon-pencil" style="font-size: 20px;"></i></button>
                                </td>
                            </form>
                        </tr>
                        <tr>
                            <form id="e">
                                <td>
                                    <label for="E-Mail">Email: </label>
                                </td>
                                <td>
                                    <input type="email" name= "Email" id="Email" class = "inputs" value="" readonly>
                                </td>
                                <td>
                                    <button type="submit" id="emailb"><i class="glyphicon glyphicon-pencil" style="font-size: 20px;"></i></button>
                                </td> 
                            </form>
                        </tr>
                    </tbody>
                </table>    
            </div>
        </div>
    </div>
    <script src="ProfilScript.js"></script>
</body>
</html>