<html lang="en">
    <head>
        <title>Registration</title>
        <link rel="stylesheet" href="../css/registration.css" />
        <body style="width: 100%;">
            <header>
                <div class="flex-container">
                    <div id="begrueßung">
                        <p style="font-size: 25px;">Registration</p>
                        Willkommen bei Carlos!<br>
                        Bitte füllen Sie alle Felder vollständig aus um die Registrierung abzuschließen
                    </div>
                    <div id="registration">
                        <form>
                            <table>
                                <tr>
                                    <td>
                                        <label for="vorname" style="font-size: 17px;">Vorname</label>
                                    </td>
                                    <td>
                                        <input type="text" id="vorname" name="vorname">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="nachname" style="font-size: 17px;">Nachname</label>
                                    </td>
                                    <td>
                                        <input type="text" id="nachname" name="nachname">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="username" style="font-size: 17px;">Benutzername</label>
                                    </td>  
                                    <td>
                                        <input type="text" id="username" name="username">
                                    </td>      
                                </tr>
                                <tr>
                                    <td>
                                        <label for="pwd" style="font-size: 17px;">Passwort</label>
                                    </td>
                                    <td>
                                        <input type="password" id="pwd" name="pwd">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="tel" style="font-size: 17px;">Telefon</label>
                                    </td>
                                    <td>
                                        <input type="text" id="tel" name="tel">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="email" style="font-size: 17px;">E-Mail</label>
                                    </td>
                                    <td>
                                        <input type="text" id="email" name="email">
                                    </td>
                                </tr>
                            </table> 
                        
                        <div id="button">
                            <input type="submit" id="bRegistrieren" value="Registrieren">
                        </div>
                        </form>
                    </div>   
                </div>
            </header>
            <script src="registrationScript.js"></script>
        </body>
    </head>
</html>