<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/MAStyle.css" />
    <title>cursive;"CarLos Meine Angebote</title>
</head>
<body>
    <div class= "Flexbox">
        <div class="Navigationsleiste">
            <iframe scrolling="no" src="NLIndex.html"></iframe>
        </div>
        
        <div class="Seiteninhalt">
            <p id = "Überschrift">Meine Angebote 
            
                <button type="button" class="btn btn-sm btn-default" id="PlusButton">
                                <span class="glyphicon glyphicon-plus"
                                      aria-hidden="true"></span>
                </button>
                
            </p>
        </div>
</body>
</html>