* {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    text-decoration: none;
}

.card {
    display:inline-block;
}

body { 
    background-color: rgb(255, 252, 249);
}

.Seiteninhalt {
    background-color:  rgb(147, 174, 197);
    color: #3c3c3c;
    font-size: 20px;
    width: 1018px;
    height: 100%;
    padding: 20px;
    margin-top: 10px;
    text-transform: uppercase;

}

#Überschrift {
    font-size: 35px;
}

#PlusButton {
    background:rgb(66, 66, 66);
    border-style: solid;
    border-width: 1px;
    height: 35px;
    width: 50px;
    font-size: 20px;
    color: rgba(255, 254, 254, 0.966);
    
}

#PlusButton:hover {
    background: rgb(82, 80, 80);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(107, 107, 107);
    height: 35px;
    width: 50px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.Flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    position: absolute;
    top: 40px;
    right: auto;
    bottom: auto;
    left: 25%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }
  
/* The Close Button */
.close {
    color: #2b2b2b;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}    
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal-header {
    padding: 2px 16px;
    text-align: center;
}

.modal-body {
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-footer {
    padding: 2px 16px;
}

.cancelbtn {
    background-color: #888;
    border-style: solid;
    border-color: #888;
    color: white;
}

.savebtn {
    background-color: darkolivegreen;
    border-style: solid;
    border-color: darkolivegreen;
    color: white;
}

input[type=text], textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
}

input[type=text]:focus {
    border: 3px solid #555;
}


