*{
    font-family: Arial, Helvetica, sans-serif;
}

body { 
    background-color: rgba(173, 148, 117, 0.8);
}

.Seiteninhalt {
    background-color: rgba(255, 255, 255, 0.644);
    color: #3c3c3c;
    font-size: 20px;
    width: 1018px;
    height: 100%;
    padding: 20px;
    margin: 0 auto;
}

.Navigationsleiste {
  border: 0px none;
  width: 1019px;
  height: 70px;
  align-content: center;
  overflow: hidden; 
}

#Überschrift {
    font-size: 40px;
}
#PlusButton{
    background:rgb(94, 71, 41);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(94, 71, 41);
    height: 35px;
    width: 50px;
    font-size: 20px;
    color: white;
}

#PlusButton:hover{
    background: rgb(88, 62, 28);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(94, 71, 41);
    height: 35px;
    width: 50px;
    font-size: 20px;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.Flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.Navigationsleiste {
    border: 0px none;
    width: 1018px;
    height: 50px;
    align-content: center;
    overflow: hidden;   
}
iframe {
    border: none;
    width: 1100px;
    height: 750px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    position: absolute;
    top: 40px;
    right: auto;
    bottom: auto;
    left: 25%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }
  
  /* The Close Button */
  .close {
    color: #2b2b2b;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  .modal-header {
    padding: 2px 16px;
    text-align: center;
  }

  .modal-body {
      margin-top: 20px;
      margin-bottom: 20px;
    }

  .modal-footer {
    padding: 2px 16px;
  }

  .cancelbtn {
      background-color: #888;
      border-style: solid;
      border-color: #888;
      color: white;
  }

  .savebtn {
      background-color: darkolivegreen;
      border-style: solid;
      border-color: darkolivegreen;
      color: white;
  }

  input[type=text], textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
  }

  input[type=text]:focus {
    border: 3px solid #555;
  }

