*{
    font-family: verdana serif;
}

ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #333;
  position: fixed;
  height: 50px;
  overflow: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    
  }
ul.sidenav li a {
  display: block;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 23px;
  
}
 
ul.sidenav li a.active {
  background-color: #014a9c;
  color: rgb(7, 7, 7);
}

ul.sidenav li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 25%;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 900px) {
  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  ul.sidenav li a {
    float: left;
    padding: 15px;
  }
  
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  ul.sidenav li a {
    text-align: center;
    float: none;
  }
}





