body{
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

.container{
  width: 80%;
  margin: 0 auto;
}

header{
  background: #333;
  width: 1020px;
  height: 70px;
}

header::after{
  content: '';
  display: table;
  clear: both;
}

img{
  float: left;
  height: 60px;
  width: 160px;
  margin-top: 7px;

}

nav{
  float:right;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li{
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}

nav a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover{
  color:rgb(180, 179, 179);
}

nav a::before{
  content: '';
  display: block;
  height: 5px;
  background-color: #333;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before{
  width: 100%;
}

#logoutBtn{
  border-radius: 10px;
  background: linear-gradient(to right, #a4957d, #6c604b);
  outline: none;
  display: block;
  border: 0;
  padding: 5px;
}


   





