*{
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.Flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body { 
    background-color: rgba(173, 148, 117, 0.8);
    
}
 button {
     border:none;
     background-color:  rgba(255, 255, 255, 0.03);
 }
.Navigationsleiste {
    border: 0px none;
    width: 1018px;
    height: 50px;
    align-content: center;
    overflow: hidden; 
    
}
iframe {
    border: none;
    width: 1100px;
    height: 750px;
}

.Seiteninhalt {
    background-color: rgba(255, 255, 255, 0.644);
    color: #3c3c3c;
    font-size: 20px;
    width: 1018px;
    padding: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
}

.inputs {
    border : none;
    background: none;
}
.Bearbeitung {
    height:20px;
    width:20px;
}
td {
    margin-top: 5mm;
    margin-left: 5mm;
    margin-right: 5mm;
    padding: 2mm;
}

#Profilbild {
    height: 100px;
    padding-right: 20px;
}

