* {
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
}

.Flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body { 
    background-color: rgba(255, 255, 255, 0.8);
    
}

button {
    border:none;
    background-color:  rgba(255, 255, 255, 0.03);
}

.Seiteninhalt {
    background-color: rgb(147, 174, 197);
    color: #3c3c3c;
    font-size: 20px;
    width: 1018px;
    padding: 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
   
}

.inputs {
    border : none;
    background: none;
}

.Bearbeitung {
    height:20px;
    width:20px;
}

td {
    margin-top: 5mm;
    margin-left: 5mm;
    margin-right: 5mm;
    padding: 2mm;
}

#Profilbild {
    height: 100px;
    padding-right: 20px;
}

