*{
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.flex-container {
    display: flex;
    flex-direction: column;
}



body {
    background-image: url(16.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div.anmeldung {
    background-color: rgb(240, 240, 240, 0.7);
    color: #3c3c3c;
    background-size: cover;
    font-size: 20px;
    
    
    padding: 50px;
    
    text-align: center;
}

p {
    font-size: 40px;
    margin-bottom: 3px;
}

form {
    margin-top: 30px;
}

#username, #pwd {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #013761;
    background-color: white;
    height: 20px;
}

#bAnmelden {
    background: linear-gradient(180deg,#01508d, #013257);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #013761;
    height: 30px;
    width: 300px;
    font-size: 20px;
    color: white;
}

a {
    font-size: 20px;
    color: #01508d ;
}

.submit {
    margin-top: 30px;
}

table {
    text-align: right;
    margin-left: 60px;



