*{
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

body {
    background-image: url('BackgroundBild.jpg');
    background-position: 20% 15%;
    background-size: cover;
   
    
}



.flex-container {
    display: flex;
    flex-direction: column;
    background-color:rgb(255, 255, 255, 0.6);
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 10px 10px 10px #26719c;
}

#begrueßung {
    font-size: 20px;
    margin-bottom: 30px;
}

table {
    text-align: right;
    margin-left: 580px;
    
}

#anmeldung {
    margin-bottom: 40px;
}




