*{
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

body {
    background-image: url('backgroundPicture.jpg');
    background-position: 20% 40%;
    background-size: cover;
   
    
}

.flex-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(180, 180, 180, 0.8);
    margin-top: 20px;
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    
}

#begrueßung {
    font-size: 20px;
    margin-bottom: 30px;
}

table {
    text-align: right;
    margin-left: 458px;
    
}

#anmeldung {
    margin-bottom: 40px;
}

#bAnmelden {
    border: none;
    font-size: 18px;
    background: rgb(64, 80, 36);
    padding: 10px 40px;
    border-radius: 4px;
    color: white;
  
}
#bAnmelden:hover {
    border: none;
    font-size: 18px;
    background: rgb(64, 80, 36);
    padding: 10px 40px;
    border-radius: 4px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    color: white;
}

#registration{
    margin-top: 10px;
    margin-bottom: 10px;
}

a{
    color: rgb(44, 54, 24);
}

a:hover {
    color: black
}



