*{
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

td {
    margin-top: 5mm;
    margin-left: 5mm;
    margin-right: 5mm;
    padding: 2mm;
}
 .Flexbox {
     display: flex;
     flex-direction: column;
     align-items: center;
 }
.Eingabefeld {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #163f5e;
    background-color: white;
    margin-right: 15mm;
    width: 40mm;
    height: 5mm;
}

#Kilometer, #Jahr {
    margin-right:0mm;
}
#Preis, #Kilometer, #Jahr {
    width: 41.8mm;
    height: 6mm;
}

body { 
    background-color: rgba(49, 48, 48, 0.041);
    background-image: url('marmor01-978x400.jpg');
    background-position: 20% 15%;
    background-size: cover;  
    background-blend-mode: darken;
}

table {
    text-align: center;
}

.bild {
    height: 10%;
    width: 10%;
}
.Seiteninhalt {
    background-color: rgb(255, 255, 255);
    color: #3c3c3c;
    font-size: 20px;
    width: 980px;
    height: 100%;
    padding: 20px;
}
#Überschrift {
    font-size: 40px;
    justify-items: space-between;
}
.Navigationsleiste {
    border: 0px none;
    width: 1018px;
    height: 65px;
    align-content: center;
    overflow: hidden; 
    
}
iframe {
    border: none;
    width: 1018px;
    height: 750px;
}
#Suche {
    background: linear-gradient(180deg,#01508d, #013257);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #013761;
    height: 30px;
    width: 250px;
    font-size: 20px;
    color: white;
}
#Unterüberschrift {
    padding-top: 50px;
    font-size:30px;
}
#Angebotsbild {
    margin-right: 50px;
}
